#app {
  max-width: 600px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: "courier", monospace;
  padding-top: 2em;
}

span {
  border-radius: 3px;
  padding-top: 0.25em;
  border: 2px solid transparent;
}

span.tick {
  border-color: #8f8;
}

button {
  margin-top: 0.5em;
  min-width: 4em;
  padding: 0.25em;
  display: inline-block;
}

@keyframes spin {
	to { transform: rotate(1turn); }
}

#spinner {
  animation: spin 0.5s infinite;
  font-size: 2em;
}

